${jsonencode({
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:GetObject",
        "s3:GetObjectAcl"
      ],
      "Effect": "Allow",
      "Resource": [
        "${s3-infra-bucket-arn}/*",
        "${s3-infra-bucket-arn}"
      ]
    },
    {
      "Action": [
        "kms:Encrypt",
        "kms:Decrypt",
        "kms:GenerateDataKey",
        "kms:DescribeKey",
        "kms:ReEncryptFrom",
        "kms:ReEncryptTo"
      ],
      "Effect": "Allow",
      "Resource": [
        "${kms-non-db-key-arn}",
        "${kms-sqs-scan-ingestion-arn}",
        "${kms-dpxn-print-scan-ingestion-arn}",
        "${kms-dpxn-print-scan-notifications-arn}",
        "${kms-dpxn-check-order-arn}"
      ]
    },
    {
      "Action": [
        "sqs:*"
      ],
      "Effect": "Allow",
      "Resource": [
        "arn:aws:sqs:us-west-1:${non_pci_account_number}:*"
      ]
    },
    {
      "Sid": "AccessForCloudwatch",
      "Effect": "Allow",
      "Action": [
        "cloudwatch:ListMetrics",
        "cloudwatch:PutMetricData",
        "cloudwatch:GetMetricStatistics",
        "ec2:DescribeInstances"
      ],
      "Resource": [
        "*"
      ]
    },
    {
      "Sid": "AccessForCloudwatchLogs",
      "Effect": "Allow",
      "Action": [
        "ec2:DescribeInstances",
        "ec2:DescribeTags",
        "logs:CreateLogGroup",
        "logs:CreateLogStream",
        "logs:DescribeLogStreams",
        "logs:PutLogEvents"
      ],
      "Resource": "${logstream-dpxn-support-toolbox-cloudwatch-log-group-arn}"
    }
  ]
})
}
