${jsonencode({
   "Version":"2012-10-17",
   "Statement":[
      {
         "Action":[
            "sqs:DeleteMessage",
            "sqs:ReceiveMessage",
            "sqs:SendMessage",
            "sqs:ListQueues"
         ],
         "Effect":"Allow",
         "Resource":[
            "${sqs-dpxn-payment-events-aim-queue-arn}",
            "${sqs-dpxn-file-events-aim-queue-arn}"
         ]
      },
      {
         "Action":[
            "kms:Encrypt",
            "kms:Decrypt",
            "kms:GenerateDataKey",
            "kms:DescribeKey",
            "kms:ReEncryptFrom",
            "kms:ReEncryptTo"
         ],
         "Effect":"Allow",
         "Resource":[
            "${kms-dpxn-aim-backgroundservices-key-arn}"
         ]
      },
      {
         "Sid":"AccessForCloudwatch",
         "Effect":"Allow",
         "Action":[
            "cloudwatch:ListMetrics",
            "cloudwatch:PutMetricData",
            "cloudwatch:GetMetricStatistics",
            "ec2:DescribeInstances"
         ],
         "Resource":[
            "*"
         ]
      },
      {
         "Sid":"AccessForCloudwatchLogs",
         "Effect":"Allow",
         "Action":[
            "ec2:DescribeInstances",
            "ec2:DescribeTags",
            "logs:CreateLogGroup",
            "logs:CreateLogStream",
            "logs:DescribeLogStreams",
            "logs:PutLogEvents"
         ],
         "Resource":"${logstream-dpxn-aim-backgroundservices-cloudwatch-log-group-arn}"
      }
   ]
})
}
