.vagrant
/cookbooks

*.DS_Store
*/VERSION
.backup
.databag-staging
.databag-production
*cloudimg-console.log
chef_guid
local-mode-cache/
nodes/
zero-cache/
data_bag_key

# Bundler
.bundle/*

.kitchen/
.kitchen.local.yml
.chef/*
site-cookbooks/common
site-cookbooks/role_pxh_common
site-cookbooks/pxh_nodejs
site-cookbooks/dpx_filesystem
site-cookbooks/dpx_utils
site-cookbooks/pxh_api
site-cookbooks/pen_delivery_batcher
site-cookbooks/pen_delivery_batch_processor
site-cookbooks/pen_check_ingestion
site-cookbooks/pen_scan_ingestion
site-cookbooks/pen_common
site-cookbooks/dpx_newrelic
site-cookbooks/dpx_nodejs
site-cookbooks/netowl
site-cookbooks/pen_ack_worker
site-cookbooks/common
site-cookbooks/role_pxh_common
site-cookbooks/pxh_nodejs
site-cookbooks/dpx_filesystem
site-cookbooks/dpx_utils
site-cookbooks/pxh_api
site-cookbooks/pen_delivery_batcher
site-cookbooks/pen_delivery_batch_processor
site-cookbooks/pen_check_ingestion
site-cookbooks/pen_scan_ingestion
site-cookbooks/pen_common
site-cookbooks/dpx_newrelic
site-cookbooks/dpx_nodejs
site-cookbooks/netowl
site-cookbooks/pen_ack_worker
site-cookbooks/pen_ack_worker
site-cookbooks/dpxn_preflight
site-cookbooks/dpxn_core_handoff
site-cookbooks/dpxn_resque
site-cookbooks/mcafee
site-cookbooks/nnt_change_tracker
site-cookbooks/rapid7
site-cookbooks/dpxn_redis
site-cookbooks/dpx_redis
site-cookbooks/redcloak
site-cookbooks/dpxn_cron
site-cookbooks/dpxn_check_order
site-cookbooks/dpx_utils
site-cookbooks/dotnet
site-cookbooks/dpxn_dotnet
site-cookbooks/dpxn_core_handoff
site-cookbooks/dotnet
site-cookbooks/dpxn_dotnet
site-cookbooks/dpx_dotnet
site-cookbooks/dpx_payment_delivery
site-cookbooks/ec_cloudwatch
site-cookbooks/dpxn_check_print
site-cookbooks/dpxn_cmp_mock
site-cookbooks/dpxn_cmp_mock
site-cookbooks/ec_cloudwatch
site-cookbooks/dynatrace_oneagent
site-cookbooks/dpxn_delivery_manager
site-cookbooks/dpxn_portal_ui
site-cookbooks/dpxn_print_scan_ingestion
site-cookbooks/dpxn_print_scan_notifications
site-cookbooks/dpxn_print_scan_order_events
site-cookbooks/dpxn_resque_ui
site-cookbooks/dpxn_service_layer_scan_ingestion
site-cookbooks/ec_nginx
site-cookbooks/resque
site-cookbooks/ec_sftp_keys
site-cookbooks/dpxn_support_toolbox
